---
// src/components/PresentationWgpuHero.astro
import { WgpuHero } from './react/WgpuHero.tsx';
---
<section id="start" class="story-block h-screen w-screen">
    <WgpuHero client:visible />
</section>